html {
  height: 100%;
  width: 100%;
}
body {
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: rgb(255, 248, 237);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
}
.container__text {
  text-align: center;
}
.text__position {
  position: relative;
  bottom: 10px;
}
.article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.article__image {
  position: relative;
}
img {
  width: 280px;
}
.image__background {
  background-color: lightblue;
  width: 280px;
  height: 280px;
  z-index: -1;
  position: absolute;
  top: 20px;
}
.first__bg {
  right: 20px;
}
.second__bg {
  left: 20px;
}
.article__text {
  justify-content: center;
  align-items: center;
  width: 300px;
}
.first__text {
  position: relative;
  left: 20px;
  bottom: 10px;
}
.second__text {
  position: relative;
  right: 20px;
  bottom: 10px;
}
.form{
  background-color: rgb(180, 252, 228);
  padding: 20px;
}
.form__input{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  }

.form__timeline,.form__textarea,.form__button{
  grid-column-start: 1;
  grid-column-end: 3;
}
input,textarea {
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: black;
  border-width: 2px;
}
.form__name,.form__email,.form__timeline,.form__textarea{
  display: flex;
  flex-direction: column;
}
.form__name input,.form__email input{
  width: 300px;
}

.form__button button{
background-color: transparent;
border-color: black;
width: 70px;
height: 30px;
}

.form__button{
  display: flex;
  justify-content: right;
}
